<div class="row">
  <div class="col-xs-12 col-sm-12">
    <div class="title">
      <h1>INICIAR SESIÓN</h1>
      <% if (message.length > 0) { %>
        <div class="alert alert-info alert-dismissable">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
          <p><%= message %></p>
        </div>
      <% } %>
    </div>
    <div class="col-xs-12 col-sm-offset-3 col-sm-6 col-lg-offset-3 col-lg-6">
      <form class="form-horizontal panel panel-default" action="/session/login" method="post">
        <div class="panel-body">
          <div class="form-group">
            <div class="col-xs-12 col-sm-12 col-lg-12">
              <div class="input-group">
                <div class="input-group-addon"><i class="fa fa-envelope" aria-hidden="true"></i></div>
                <input type="email" class="form-control" name="email" id="email" placeholder="Correo electrónico" required>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="col-xs-12 col-sm-12 col-lg-12">
              <div class="input-group">
                <div class="input-group-addon"><i class="fa fa-lock" aria-hidden="true"></i></div>
                <input type="password" class="form-control" name="password" id="password" placeholder="Contraseña" required>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="center padding-top-bottom">
              <a href="/session/new-password">¿Olvido su contraseña?</a>
            </div>
            <div class="col-xs-12 col-sm-12 col-lg-12">
              <button class="btn col-xs-12 col-sm-offset-3 col-sm-6 btn-color-blue">Iniciar Sesión</button>
            </div>
          </div>
        </div>
        <div class="panel-footer center">
          ¿No tiene cuenta?
          <a href="/users/register">Crear</a>
        </div>
      </form>
    </div>
  </div>
</div>
