<div class="col-sm-12">
  <% if (message.length > 0) { %>
    <div class="alert alert-info alert-dismissable">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <p><%= message %></p>
    </div>
  <% } %>
  <div class="center">
    <h1>BIENVENIDO</h1>
  </div>
  <div class="row">
      <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel" data-slide-to="1"></li>
          <li data-target="#myCarousel" data-slide-to="2"></li>
          <li data-target="#myCarousel" data-slide-to="3"></li>
        </ol>

        <div class="carousel-inner">
          <div class="item active">
            <img src="/img/shop1.jpg" style="width: 100%;">
          </div>
          <div class="item">
            <img src="/img/shop2.jpg" style="width: 100%;">
          </div>
          <div class="item">
            <img src="/img/shop3.jpg" style="width: 100%;">
          </div>
          <div class="item">
            <img src="/img/shop4.jpg" style="width: 100%;">
          </div>
        </div>

        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
  </div>
</div>
