<!DOCTYPE html>
<html>
  <head>
    <title>My Shop</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" href="/favicon.ico" type="image/x-icon"/>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div id="wrapper" class="active">
          <div id="sidebar-wrapper">
            <ul id="sidebar_menu" class="sidebar-nav">
              <li class="sidebar-brand"><a id="menu-toggle" href="#">Menu<i id="main_icon" class="fa fa-bars" aria-hidden="true"></i></a></li>
            </ul>
            <ul class="sidebar-nav" id="sidebar">
              <li><a href="/">Inicio<i class="sub_icon fa fa-home" aria-hidden="true"></i></a></li>
              <% if (typeof(session) == 'object' && session) { %>
                <li><a href="/profile"><%= session.firstname %><i class="sub_icon fa fa-user" aria-hidden="true"></i></a></li>
                <% if (session.state === "1") { %>
                  <li><a href="/products/menu">Administración<i class="sub_icon fa fa-lock" aria-hidden="true"></i></a></li>
                <% } %>
                <li><a href="/products">Productos<i class="sub_icon fa fa-list" aria-hidden="true"></i></a></li>
                <li><a href="/users/<%= session.id %>/cart">Carrito<i class="sub_icon fa fa-shopping-cart" aria-hidden="true"></i></a></li>
                <li><a href="#" id="logout">Salir<i class="sub_icon fa fa-sign-out" aria-hidden="true"></i></a>
                  <form action="/session/logout?_method=delete" method="post" id="exit"></form>
                </li>
              <% } else { %>
                <li><a href="/products">Productos<i class="sub_icon fa fa-list" aria-hidden="true"></i></a></li>
                <li><a href="/users/register">Regitrarse<i class="sub_icon fa fa-user" aria-hidden="true"></i></a></li>
                <li><a href="/session/login">Iniciar Sesión<i class="sub_icon fa fa-sign-in" aria-hidden="true"></i></a></li>
              <% } %>
            </ul>
          </div>

          <div id="page-content-wrapper">
            <div class="container-fluid">
              <%- body %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="/bootstrap/js/jquery-3.2.1.min.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <script src="/js/navbar.js"></script>
    <script src="/js/editProfile.js"></script>
    <script src="/js/deleteProduct.js"></script>
    <script src="/js/admin.js"></script>
    <script src="/js/cart.js"></script>
    <script>
      $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("active");
      });
    </script>
  </body>
</html>
