body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #779a44;
}

a:hover,
a:focus {
  color: #485632;
  text-decoration: none;
}

textarea {
  resize: none;
}

.center {
  text-align: center;
}

.title {
  padding-top: 5%;
  padding-bottom: 5%;
  text-align: center;
}

.padding-top-bottom {
  padding-top: 2%;
  padding-bottom: 2%;
}

.btn-color-blue {
  background-color: #4c99bd;
  border-color: #4c99bd;
  color: #fff;
}

.btn-color-blue:hover,
.btn-color-blue:focus,
.btn-color-blue:active,
.btn-color-blue.focus,
.btn-color-blue.active {
  background-color: #357794;
  border-color: #357794;
  color: #fff;
}

.btn-color-darkblue {
  background-color: #2c5898;
  border-color: #2c5898;
  color: #fff;
}

.btn-color-darkblue:hover,
.btn-color-darkblue:focus,
.btn-color-darkblue:active,
.btn-color-darkblue.focus,
.btn-color-darkblue.active {
  background-color: #053375;
  border-color: #053375;
  color: #fff;
}

.icon-blue {
  color: #37b0c8;
}

.icon-blue:hover,
.icon-blue:focus {
  color: #357794;
}

.icon-red {
  color: #ee0016;
}

.icon-red:hover,
.icon-red:focus {
  color: #a20000;
}

.btn-color-green {
  background-color: #9fd250;
  border-color: #9fd250;
  color: #fff;
}

.btn-color-green:hover,
.btn-color-green:focus,
.btn-color-green:active,
.btn-color-green.focus,
.btn-color-green.active {
  background-color: #779a44;
  border-color: #779a44;
  color: #fff;
}

.icon-position {
  font-size: 1.5em;
  padding-left: 5px;
  padding-right: 5px;
  float: left;
}

/*Sidebar*/
#wrapper {
  padding-left: 70px;
  transition: all .4s ease 0s;
  height: 100%;
}

#sidebar-wrapper {
  margin-left: -250px;
  left: 70px;
  width: 250px;
  background: #222;
  position: fixed;
  height: 100%;
  z-index: 10000;
  transition: all .4s ease 0s;
}

.sidebar-nav {
  display: block;
  float: left;
  width: 250px;
  list-style: none;
  margin: 0;
  padding: 0;
}

#page-content-wrapper {
  padding-left: 0;
  margin-left: 0;
  padding-top: 5%;
  width: 100%;
  height: auto;
}

#wrapper.active {
  padding-left: 250px;
}
#wrapper.active #sidebar-wrapper {
  left: 250px;
}

#sidebar_menu li a,
.sidebar-nav li a {
  color: #999;
  display: block;
  float: left;
  text-decoration: none;
  width: 250px;
  background: #252525;
  border-top: 1px solid #373737;
  border-bottom: 1px solid #1a1a1a;
  -webkit-transition: background .5s;
  -moz-transition: background .5s;
  -o-transition: background .5s;
  -ms-transition: background .5s;
  transition: background .5s;
}

.sidebar_name {
  padding-top: 25px;
  color: #fff;
  opacity: .7;
}

.sidebar-nav li {
  line-height: 40px;
  text-indent: 20px;
}

.sidebar-nav li a {
  color: #999999;
  display: block;
  text-decoration: none;
}

.sidebar-nav li a:hover {
  color: #fff;
  background: rgba(255, 255, 255, 0.2);
  text-decoration: none;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
  height: 65px;
  line-height: 60px;
  font-size: 18px;
}

.sidebar-nav > .sidebar-brand a {
  color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
  color: #fff;
  background: none;
}

#main_icon {
  float: right;
  padding-right: 25px;
  padding-top: 20px;
}
.sub_icon {
  float: right;
  padding-right: 30px;
  padding-top: 10px;
}

.page-content > .row {
  margin-left: 0;
  margin-right: 0;
}
/*End sidebar*/

.btn-menu {
  padding: 10% 20%;
  font-size: 2em;
}

.btn-admin {
  padding: 5% 10%;
  font-size: 2em;
}
.btn-admin-minor {
  padding: 5% 15%;
  font-size: 2em;
}

@media (max-width: 768px) {
  .space-bottom {
    padding-bottom: 5%;
  }
}

.space-top {
  margin-top: 5%;
}
.space-bottom {
  margin-bottom: 3%;
}
.icon-align {
  /*padding-top: 10%;*/
}

.product:hover {
  border-color: #9fd250;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075),
    0 0 8px rgba(159, 210, 80, .6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075),
    0 0 8px rgba(159, 210, 80, .6);
}

.fix-padding {
  padding-left: 0;
  padding-right: 0;
  padding-top: 5px;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.fix-position {
  margin-top: 25px;
  padding-left: 5px;
}

.fa-eye {
  font-size: 1.3em;
}

.capitalize {
  text-transform: capitalize;
}

#pay {
  margin-left: 2%;
}
