<div class="container-fluid">
  <div class="col-xs-12 col-sm-12">
    <div class="title">
      <h1>CARRITO DE COMPRAS</h1>
      <% if (message.length > 0) { %>
        <div class="alert alert-info alert-dismissable">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
          <p><%= message %></p>
        </div>
      <% } %>
    </div>
    <% if (productCart.length > 0) { %>
      <% for (let cart of productCart) { %>
        <div class="row">
          <div class="col-xs-12">
            <form class="form-horizontal panel panel-default" action="/users/<%= session.id %>/cart/<%= cart.product._id %>?_method=put" method="post">
              <div class="panel-body">
                <div class="col-xs-7">
                  <div class="form-group">
                    <div class="col-xs-offset-3" style="font-size: 1.5em;">
                      <strong class="capitalize"><%= cart.product.title %></strong>
                    </div>
                    <div class="col-xs-offset-2">
                      <img src="<%= cart.product.image %>" alt="Producto <%= cart.product.titie %>" width="30%" height="30%">
                    </div>
                    <div class="col-xs-offset-3" style="font-size: 1.5em;">
                      <strong>$ <%= cart.product.price %></strong>
                    </div>
                  </div>
                </div>
                <div class="col-xs-4" style="margin-left: -10%;">
                  <div class="row">
                    <label>Unidad(es)</label>
                    <div class="input-group">
                      <div class="input-group-addon"><i class="fa fa-plus" aria-hidden="true"></i></div>
                      <input type="hidden" class="price" id="price-<%= cart.product._id %>" value="<%= cart.product.price %>">
                      <input type="number" value="<%= cart.amount %>" min="1" class="form-control amount" name="amount" id="amount-<%= cart.product._id %>" placeholder="Cantidad" required>
                    </div>
                  </div><br>
                  <div class="row">
                    <div class="col-xs-offset-3">
                      <button id="update-<%= cart.product._id %>" type="button" class="btn btn-info update">Actualizar</button>
                      <button id="remove-<%= cart.product._id %>" type="button" class="btn btn-danger remove">Eliminar</button>
                    </div>
                  </div>
                </div>
              </div>
            </form>
            <form id="cartForm-<%= cart.product._id %>" action="/users/<%= session.id %>/cart/<%= cart.product._id %>?_method=put" method="post">
              <input type="hidden" name="amount">
            </form>
            <form id="deleteForm-<%= cart.product._id %>" action="/users/<%= session.id %>/cart/<%= cart.product._id %>?_method=delete" method="post"></form>
          <div>
          </div>
      <% } %>
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="row">
            <div class="col-xs-12 right">
              <i>Total a Pagar</i><strong> $<span id="total"><%= total %></span></strong>
              <div class="col-xs-offset-2"><br>
                <button id="pay" type="button" class="btn btn-success">Ir a Pagar</button>
              </div>
            </div>
          </div>
        </div>
      <div>
    </div>
  </div>
  <form action="/users/<%= session.id %>/cart?_method=delete" method="post" id="clearCart"></form>
<%}%>
