<div class="col-xs-12 col-sm-12">
  <div class="title">
    <h1>DATOS DEL USUARIO</h1>
    <% if (message.length > 0) { %>
      <div class="alert alert-info alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <p><%= message %></p>
      </div>
    <% } %>
  </div>
  <div class="col-xs-12 col-sm-offset-3 col-sm-6 col-lg-offset-3 col-lg-6">
    <form class="form-horizontal panel panel-default" action="/profile?_method=put" id="profile" method="post">
      <div class="panel-body">
        <div class="form-group">
          <div class="col-xs-12 col-sm-12 col-lg-12">
            <div class="input-group">
              <div class="input-group-addon"><i class="fa fa-user" aria-hidden="true"></i></div>
              <input type="text" class="form-control capitalize" name="firstname" id="firstname" value="<%= user.firstname %>" placeholder="Nombre" required>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="col-xs-12 col-sm-12 col-lg-12">
            <div class="input-group">
              <div class="input-group-addon"><i class="fa fa-user" aria-hidden="true"></i></div>
              <input type="text" class="form-control capitalize" name="lastname" id="lastname" value="<%= user.lastname %>" placeholder="Apellidos" required>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="col-xs-12 col-sm-12 col-lg-12">
            <div class="input-group">
              <div class="input-group-addon"><i class="fa fa-envelope" aria-hidden="true"></i></div>
              <input type="email" class="form-control" name="email" id="email" value="<%= user.email %>" placeholder="Correo electrónico" required>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="col-xs-offset-4 col-xs-8">
            <button id="save" type="submit" class="btn btn-success">Enviar</button>
            <button id="edit" type="button" class="btn btn-info">Editar</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
