<div class="col-xs-12 col-sm-12">
  <div class="title">
    <h1>Modificar Producto</h1>
    <% if (message.length > 0) { %>
      <div class="alert alert-info alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <p><%= message %></p>
      </div>
    <% } %>
  </div>
  <div class="col-xs-12 col-sm-offset-3 col-sm-6 col-lg-offset-3 col-lg-6">
    <form class="form-horizontal panel panel-default" action="/products/<%= product._id %>?_method=put" method="post" enctype="multipart/form-data">
      <div class="panel-body">
        <div class="form-group">
          <div class="col-xs-12 col-sm-12 col-lg-12">
            <div class="input-group">
              <div class="input-group-addon"><i class="fa fa-font" aria-hidden="true"></i></div>
              <input type="text" class="form-control capitalize" name="title" id="title" value="<%= product.title %>" placeholder="Titulo del producto" required>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="col-xs-12 col-sm-12 col-lg-12">
            <div class="input-group">
              <div class="input-group-addon"><i class="fa fa-usd" aria-hidden="true"></i></div>
              <input type="number" min="1" class="form-control" name="price" id="price" value="<%= product.price %>" placeholder="Precio del producto" required>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="col-xs-12 col-sm-12 col-lg-12">
            <div class="input-group">
              <div class="input-group-addon"><i class="fa fa-picture-o" aria-hidden="true"></i></div>
              <input type="file" name="image" id="image" placeholder="Imagen del producto">
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="col-xs-12 col-sm-12 col-lg-12">
            <img src="<%= product.image %>" alt="Producto <%= product.titie %>" style="width: 100%;">
          </div>
        </div>
        <div class="form-group">
          <div class="col-xs-offset-3 col-xs-8">
            <button type="submit" class="btn btn-success">Guardar</button>
            <button id="delete" type="button" class="btn btn-danger">Eliminar</button>
          </div>
        </div>
      </div>
    </form>
    <form action="/products/<%= product._id %>?_method=delete" id="deleteProduct" method="post"></form>
  </div>
</div>
