<div class="container-fluid">
  <div class="col-xs-12 col-sm-12">
    <div class="title">
      <h1>PRODUCTOS</h1>
      <% if (message.length > 0) { %>
        <div class="alert alert-info alert-dismissable">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
          <p><%= message %></p>
        </div>
      <% } %>
    </div>
    <% for (let product of products) { %>
      <% let i = 0; %>
      <% if (i % 2 === 0) { %>
        <div class="row">
      <% } %>
      <div class="col-xs-6">
        <div class="form-horizontal panel panel-default">
          <div class="panel-body">
            <div class="form-group">
              <div class="center" style="font-size: 1.5em;">
                <strong class="capitalize"><%= product.title %></strong>
              </div>
              <div class="center">
                <img src="<%= product.image %>" alt="Producto <%= product.titie %>" width="30%" height="30%">
              </div>
              <div class="center" style="font-size: 1.5em;">
                <strong>$ <%= product.price %></strong>
              </div><br>
              <% if (typeof(session) == 'object' && session) { %>
                <div class="center" style="font-size: 1.8em;">
                  <a class="add" id="add-<%= product._id %>"><i class="fa fa-cart-plus" aria-hidden="true"></i></a>
                  <% if (session.state === "1") { %>
                    <a href="/products/<%= product._id %>"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                    <a class="delete" id="delete-<%= product._id %>"><i class="fa fa-trash" aria-hidden="true"></i></a>
                    <form action="/products/<%= product._id %>?_method=delete" method="post" id="deleteProduct-<%= product._id %>"></form>
                  <% } %>
                </div>
                <form action="/users/<%= session.id %>/cart" id="form-<%= product._id %>" method="post">
                  <input type="hidden" name="productId" value="<%= product._id %>">
                </form>
              <% } %>
            </div>
          </div>
        </div>
      </div>
      <% if ((i + 1) % 2 === 0 || i == products.length - 1) { %>
        </div>
      <% } %>
    <% } %>
  </div>
</div>
