<div class="row">
  <% if (session.state === "1") { %>
    <div class="col-xs-11 col-sm-6 center space-bottom">
      <a href="/products/new" class="btn btn-menu btn-color-blue"><i class="fa fa-plus" aria-hidden="true"></i> Agregar Producto</a>
    </div>
    <div class="col-xs-11 col-sm-6 center space-bottom">
      <a href="/products/search" class="btn btn-menu btn-color-green"><i class="fa fa-list-ul" aria-hidden="true"></i> Listar Productos</a>
    </div>
  <% } %>
</div>
