<div class="col-xs-12 col-sm-12">
  <div class="title">
    <h1>AÑADIR PRODUCTO</h1>
  </div>
  <div class="col-xs-12 col-sm-offset-3 col-sm-6 col-lg-offset-3 col-lg-6">
    <form class="form-horizontal panel panel-default" ction="/products/new" method="post" enctype="multipart/form-data">
      <div class="panel-body">
        <div class="form-group">
          <div class="col-xs-12 col-sm-12 col-lg-12">
            <div class="input-group">
              <div class="input-group-addon"><i class="fa fa-font" aria-hidden="true"></i></div>
              <input type="text" class="form-control capitalize" name="title" id="title" placeholder="Titulo del producto" required>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="col-xs-12 col-sm-12 col-lg-12">
            <div class="input-group">
              <div class="input-group-addon"><i class="fa fa-usd" aria-hidden="true"></i></div>
              <input type="number" min="1" class="form-control" name="price" id="price" placeholder="Precio del producto" required>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="col-xs-12 col-sm-12 col-lg-12">
            <div class="input-group">
              <div class="input-group-addon"><i class="fa fa-picture-o" aria-hidden="true"></i></div>
              <input type="file" name="image" id="image" placeholder="Imagen del producto" required>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="col-xs-12 col-sm-12 col-lg-12">
            <button class="btn col-xs-12 col-sm-offset-3 col-sm-6 btn-color-blue">Guardar</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
