<% if (message.length > 0) { %>
  <div class="alert alert-info alert-dismissable">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    <p><%= message %></p>
  </div>
<% } %>
<div class="container-fluid">
  <div class="col-xs-12">
    <form class="form-horizontal space-bottom" action="/products/search" method="get">
      <div class="input-group">
        <input type="text" class="form-control capitalize" name="title" placeholder="Ingresa el nombre del producto..." name="id">
        <div class="input-group-btn">
          <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
        </div>
      </div>
    </form>
    <% if (products.length > 0) { %>
      <% for (let product of products) { %>
        <div class="panel panel-default quotation">
          <div class="panel-body">
            <div class="col-xs-11">
              <div class="col-xs-3">
                <img src="<%= product.image %>" width="80" height="50">
              </div>
              <div class="col-xs-3">
                <strong class="capitalize"><%= product.title %></strong>
              </div>
              <div class="col-xs-4">
                <strong>$ <%= product.price %></strong>
              </div>
            </div>
            <div class="col-xs-1 icon-align">
              <a href="/products/<%= product._id %>"><i class="fa fa-eye" aria-hidden="true"></i></a>
            </div>
          </div>
        </div>
      <% } %>
    <% } else if (results.length > 0) { %>
      <% for (let product of results) { %>
        <div class="panel panel-default quotation">
          <div class="panel-body">
            <div class="col-xs-11">
              <div class="col-xs-3">
                <img src="<%= product.image %>" width="80" height="50">
              </div>
              <div class="col-xs-3">
                <strong class="capitalize"><%= product.title %></strong>
              </div>
              <div class="col-xs-4">
                <strong>$ <%= product.price %></strong>
              </div>
            </div>
            <div class="col-xs-1 icon-align">
              <a href="/products/<%= product._id %>"><i class="fa fa-eye" aria-hidden="true"></i></a>
            </div>
          </div>
        </div>
      <% } %>
    <% } %>
  </div>
</div>
